#header.head__wrapper
  .head__contents music
  .links
    .links__wrapper
      = link_to "" do
        .mypage マイページ
      = link_to "" do
        .album アルバム
.slide__images
  .slide__image1
  .slide__image2
  .slide__image3
  .slide__image4
  .slide__image5


